<div class="stats">
  <div class="card">
    <div class="icon-wrapper total"><span class="material-icons">list_alt</span></div>
    <div class="text">
      <h2 class="text-blue">{{ totalTasks }}</h2>
      <p>Total Tasks</p>
    </div>
  </div>
  <div class="card">
    <div class="icon-wrapper pending"><span class="material-icons">schedule</span></div>
    <div class="text">
      <h2 class="text-orange">{{ pendingTasks }}</h2>
      <p>Pending</p>
    </div>
  </div>
  <div class="card">
    <div class="icon-wrapper in-progress"><span class="material-icons">data_usage</span></div>
    <div class="text">
      <h2 class="text-blue">{{ inProgressTasks }}</h2>
      <p>In Progress</p>
    </div>
  </div>
  <div class="card">
    <div class="icon-wrapper completed"><span class="material-icons">check_circle</span></div>
    <div class="text">
      <h2 class="text-green">{{ completedTasks }}</h2>
      <p>Completed</p>
    </div>
  </div>
</div>
